body {
    color: var(--cl-black);
    background-color: var(--cl-white);
    background-color: var(--cl-black);

    // &.light-mode {
    //     color: var(--cl-black);
    //     background-color: var(--cl-white);
    // }

    // &.dark-mode {
    //     color: var(--cl-white);
    //     background-color: var(--cl-black);
    // }
}