@use '../../abstracts/mixins' as *;
@use '../../abstracts/colors' as *;

.abt-miles {
    --sticky-pos: 10.6rem;

    position: relative;
    contain: paint;

    margin-top: -16.8rem;

    .container.grid {
        height: 300svh;
    }

    &-img, &-since, &-time {
        position: sticky;
        top: var(--sticky-pos);
        height: calc(100svh - (var(--sticky-pos) + var(--container-padding)));
    }

    &-img {
        grid-column: 4/10;

        display: grid;
        overflow: hidden;

        &-inner {
            grid-column: 1/2;
            grid-row: 1/2;

            @include size(100%);

            overflow: hidden;
        }
    }


    &-since {
        grid-column: 1/4;

        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    &-time {
        grid-column: 10/-1;

        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: end;
    }
}