@use '../../abstracts/mixins' as *;
@use '../../abstracts/colors' as *;

.support-hero {
    position: relative;
    contain: paint;

    padding-block: 25rem 10rem;

    &-img {
        grid-column: 1/4;
        align-self: end;

        display: grid;

        aspect-ratio: 2;

        margin-bottom: 1.4rem;

        &-inner {
            grid-column: 1/2;
            grid-row: 1/2;

            overflow: hidden;
        }
    }

    &-title {
        grid-column: 5/12;
    }
}