@font-face {
    font-family: 'Aeonik';
    src: url('/fonts/Aeonik-Regular.eot');
    src: url('/fonts/Aeonik-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Aeonik-Regular.woff') format('woff'),
        url('/fonts/Aeonik-Regular.woff2') format('woff2'),
        url('/fonts/Aeonik-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Aeonik';
    src: url('/fonts/Aeonik-Medium.eot');
    src: url('/fonts/Aeonik-Medium.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Aeonik-Medium.woff') format('woff'),
        url('/fonts/Aeonik-Medium.woff2') format('woff2'),
        url('/fonts/Aeonik-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

:root {
    --font-aeonik: 'Aeonik', sans-serif;
}